{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{%endblock%}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Бугурт-доска</h5>
      <nav class="my-2 my-md-0 mr-md-3" >
          <a class="p-2 text-dark active" href="{% url 'home' %}">Главная</a>
          <a class="p-2 text-dark" href="{% url 'about' %}">О нас</a>
          <a class="p-2 text-dark" href="{% url 'form' %}">Создать бугурт</a>

          {% if request.user.is_authenticated %}
              {% url 'logout_page' as url_logout %}
              <a class="p-2 btn-danger ml-5" href="{{ url_logout }}">Выйти</a>
          {% else %}
             {% url 'login_page' as url_login %}
              <a class="p-2 {% if url_login != request.path %}text-dark{% endif %}" href="{{ url_login }}">Авторизация</a>
              {% url 'register_page' as url_register %}
              <a class="p-2 {% if url_register != request.path %}text-dark{% endif %}" href="{{ url_register }}">Регистрация</a>
          {% endif %}

      </nav>
  </div>
{{ request.user }}
{% block content %}
{% endblock %}

{% block js %}
{% endblock %}
  </body>
</html>
