{% extends 'main/base.html' %}
{% load static %}
{% block title %}Главная{% endblock%}
{% block content %}

      <div class="container">

        <div class="row">

            {% if success %}
            <div class="wrapper">
                 <p style="color:red">Запись добавлена</p>
    </div>

        {% endif %}

        {% if messages %}
            <div class="alert alert-success" style="text-align: left">
                {% for mes in messages%}
                    {{ mes }}
                {% endfor %}
            </div>
        {% endif %}
          <div class="col-lg-9 col-lg-push-3">

  <form role="search" class="visible-xs">
                                         <div class="form-group">
                                            <div class="input-group">
                                                <input type="search" class="form-control input-lg" placeholder="Ваш запрос">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

            <h2>Новые фильмы</h2>
            <hr>
            <div class="row">

              <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img src="{% static '/img/inter.png' %}" alt="Интерстеллар">
                <div class="film_label">Интерстеллар</div>
              </div>
          <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img src="{% static '/img/matrix.png' %}" alt="Матрица">
                <div class="film_label">Матрица</div>
              </div>
          <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img src="{% static '/img/cloud.png' %}" alt="Облачный атлас">
                <div class="film_label">Облачный атлас</div>
              </div>
          <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img src="{% static '/img/max.png' %}" alt="Безумный Макс">
                <div class="film_label">Безумный Макс</div>
              </div>

            </div>
          <div class="margin-8"></div>

           <h2>Новые сериалы</h2>
            <hr>
            <div class="row">

              <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img src="{% static '/img/inter.png' %}" alt="Интерстеллар">
                <div class="film_label">Интерстеллар</div>
              </div>
          <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img src="{% static '/img/matrix.png' %}" alt="Матрица">
                <div class="film_label">Матрица</div>
              </div>
          <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img src="{% static '/img/cloud.png' %}" alt="Облачный атлас">
                <div class="film_label">Облачный атлас</div>
              </div>
          <div class="films_block col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <img src="{% static '/img/max.png' %}" alt="Безумный Макс">
                <div class="film_label">Безумный Макс</div>
              </div>

            </div>

             <div class="margin-8"></div>

             <a href="#"><h3>Как снимали интерстеллар</h3></a>
             <hr>
             <p>
                45 лет исполнилось Кристоферу Нолану — одному из самых успешных режиссеров нашего времени, чьи работы одинаково любимы как взыскательными критиками, так и простыми зрителями. Фильмом изначально занималась студия Paramount. Когда Кристофер Нолан занял место режиссера, студия Warner Bros., которая выпускала его последние фильмы, добилась участия в проекте.
             </p>
             <a href="#" class="btn btn-warning pull-right">Читать</a>
              <div class="margin-8"></div>

               <a href="#"><h3>Том Хенкс поделился впечатлением о фестивале</h3></a>
             <hr>
             <p>
               16 февраля в Лондоне состоялась 67-я церемония вручения наград Британской киноакадемии. Леонардо ДиКаприо, Брэд Питт, Анджелина Джоли, Кейт Бланшетт, Хелен Миррен, Эми Адамс, Кристиан Бэйл, Альфонсо Куарон и другие гости и победители премии — в нашем репортаже.
             </p>
             <a href="#" class="btn btn-warning pull-right">Читать</a>
              <div class="margin-8 clear"></div>

          </div>

          <div class="col-sm-3 col-sm-pull-9">

                            <div class="panel panel-info hidden-xs">
                                <div class="panel-heading"><div class="sidebar-header">Поиск</div></div>
                                <div class="panel-body">
                                    <form role="search">
                                        <div class="form-group">
                                            <div class="input-group">
                                              <span class="input-group-addon">@</span>
                                                <input type="search" class="form-control input-lg" placeholder="Ваш запрос">
                                                <div class="input-group-btn">
                                                    <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>



                               <div class="panel panel-info">
                                <div class="panel-heading"><div class="sidebar-header">Новости</div></div>
                                <div class="panel-body">
                                      <p> 24.02.2020 Я родился!</p>

                                    </div>
                              </div>

                                <div class="panel panel-info">
                                <div class="panel-heading"><div class="sidebar-header">Рейтинг фильмов</div></div>
                                    <div class="panel-body">

                                      <ul class="list-group">
                                        <li class="list-group-item list-group-warning">
                                          <span class="badge">8.9</span>
                                          <a href="#">Интерстеллар</a>
                                        </li>

                                         <li class="list-group-item list-group-warning">
                                          <span class="badge">8.7</span>
                                          <a href="#">Безумный Макс</a>
                                        </li>

                                         <li class="list-group-item list-group-warning">
                                          <span class="badge">8.3</span>
                                          <a href="#">Матрица</a>
                                        </li>

                                         <li class="list-group-item list-group-warning">
                                          <span class="badge">8.1</span>
                                          <a href="#">Облачный атлас</a>
                                        </li>
                                          <li class="list-group-item list-group-warning">
                                          <span class="badge">8.9</span>
                                          <a href="#">Интерстеллар</a>
                                        </li>

                                         <li class="list-group-item list-group-warning">
                                          <span class="badge">8.7</span>
                                          <a href="#">Безумный Макс</a>
                                        </li>

                                         <li class="list-group-item list-group-warning">
                                          <span class="badge">8.3</span>
                                          <a href="#">Матрица</a>
                                        </li>

                                         <li class="list-group-item list-group-warning">
                                          <span class="badge">8.1</span>
                                          <a href="#">Облачный атлас</a>
                                        </li>

                                      </ul>


                                    </div>

                              </div>

                  </div>


        </div>

      </div>

      <div class="clear">

      </div>

    </div>


<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>



{% endblock %}

{% block js %}
{% endblock %}
